div{
    padding: 20px;
}

#div1{
    background-color: green;
    width: 300px;
}

#div2{
    background-color: blue;
    position: relative;
    left: 100px
}

#div3{
    background-color: orange;
    position: relative;
    right: 250px;
}