section {
    display: block;
    height: 20000px;
  }

.div1{
    background-color: orange;
    width: 150px;
    height: 150px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    position: sticky;
    top: 0;
    float: left;
}

p{
    position: relative;
    top: 40px;
    left : 30px;
}




 